.gallery__wrapper {
  text-align: center;
  .gallery__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    h4 {
      :hover {
        color: rgb(77, 77, 77);
      }
    }
  }
}

.a {
  padding: 1vw !important;
  img {
    width: 30vw !important;
  }
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999;
  border: none;
  outline: none;
  background-color: #e27f2a;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .gallery {
    display: flex;
    flex-direction: column;
  }
  .a {
    img {
      width: 100% !important;
    }
  }
}
