.gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
  padding: 2vw 10vw;
  img {
    width: 25%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 100ms all ease-in-out;
    &:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 10px -1px,
        rgba(0, 0, 0, 0.3) 0px 6px 13px -1px;
      margin-bottom: 0.001rem;
    }
  }
}

.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

/* #myImg:hover {opacity: 0.7;} */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.4s ease-in;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.zoomed {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  img {
    width: 100%;
    height: auto;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
}

@media screen and (max-width: 768px) {
  .modal-content {
    width: 100%;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    img {
      width: 65vw;
    }
  }
  .close {
    position: absolute;
    top: 20vw;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 9999;
  }
}
