.information__section {
  text-align: justify;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  padding: 10vw;
  img {
    width: 100%;
    object-fit: cover;
  }

  p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .information__section {
    padding: 2vw 10vw;

    img {
      width: 100%;
      padding: 1rem 20rem;
    }

    p {
      font-size: 1.4rem;
    }
  }
}
