.landing {
  position: relative;
  img {
    width: 100%;
  }
  &__text {
    position: absolute;
    padding: 0.6rem;
    opacity: 0.8;
    text-align: center;
    margin: 0;
    font-size: 4.5vw;
    top: 50vh;
    background-color: #fff;
    width: 80vw;
  }
  &_haft img {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
  }
}

@media screen and (min-width: 47.9375em) {
  .landing {

    &__desktop {
      height: auto;
      position: relative;
      padding: 0vw 10vw 5vw;
    }
    &__wrapper {
      img {
        width: 100%;
      }
    }
    &__text {
      position: absolute;
      top: 40%;
      left: 10vw;
      width: 40vw;
      background-color: #fff;
      opacity: 0.9;

      p {
        text-align: justify;
        font-size: 1.2rem;
      }
    }
  }
}
