.news {
  height: auto;
  text-align: center;
  h2 {
    font-size: 10vw;
    padding: 4vw 10vw;
    margin: 0;
    text-shadow: 3px 11px 13px rgba(0, 0, 0, 0.35);
  }

  &__flex {
    margin: 2vw 0;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1rem 1rem;
    transition: 200ms all ease-in-out;
    &:hover {
      transform: scale(1.02);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 18px 44px;
      p {
        font-weight: 600;
      }
    }
    &__img {
      padding: 0rem;
      img {
        width: 100%;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.15) 3.95px 3.95px 5.6px;
      }
    }
  }
  &__flex__text {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    p {
      font-size: 0.7rem;
      font-weight: 300;
      font-family: "Cormorant Garamond", serif;
    }
  }
}
@media screen and (min-width: 768px) {
  .news__flex p {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 768px) {
  .news {
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
      grid-gap: 1rem;
    }
    &__flex__text {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
      align-items: center;
      justify-items: center;
      p {
        font-weight: 400;
        font-family: "Cormorant Garamond", serif;
      }
    }
  }
}

@media screen and (min-width: 1095px) {
  .news {
    padding: 0 10vw;
    h2 {
      font-size: 5.5rem;
    }
  }
}
